body {
    background: #000;
  position:absolute;
  color:white;
  display:flex;
}
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:97vw;
  padding:1.5vw;
  position:fixed;
  top:0;
  left:0;
  z-index:999;
  background-color:rgb(50,50,50)
}
.buttons{
}
.devices{
  display: flex;
  flex-direction: column;
}
.devices>div{
  display:flex;
}
.devices>div>div{
  opacity:0.5;
}
.devices>div>div:hover{
  text-decoration: underline;
  cursor:pointer;
}
.devices>div>div.selected{
  opacity:1;
}
.devices .divider{
  margin:0 5px 0 0
}
select:hover{
  cursor:pointer;  
}
label{
  font-size:12px;
  opacity:0.75
}

div{
    font-size:18px;
}
button{
  font-size:12px;
}
.schedule>ol{
  max-width:262px;
}
container{
  transition:0.25s
}
container section{
  opacity:0.4;
  padding: 1.5vw;
}
container section.selected{
  opacity:1
}
.rgb div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.rgb span, .warmWhite span{
  border-bottom: 1px solid;
}
.wheel{
}
.schedule{
    z-index: 999;
    top: 0;
    left: 0;
    margin-top: calc(56px + 3vw);
  padding: 1.5vw;
}
.schedule ol{
    padding: 16px 32px 16px 32px;
    border: 1px solid;
    margin: 0;
    margin-bottom: 8px;
}
.schedule p{
margin: 0 0 8px;
line-height: 1.4;
}
.mdl-layout__container{
  position:relative;
  margin-top: 15vh;
}
.mdl-button i{
  color:white;
}
.app-layout {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    background: #fff;
    max-width: 450px;
}

.app-layout main {
    display: flex;
    flex-direction: column;
}

/* i.material-icons {
    max-width: 24px;
} */

.color-buttons {
    display: flex; 
    justify-content: space-between;
}

.mic-button, 
.power-button {
    text-align: center;
}

.mic-button {
    margin-top: 2pc;
} 

.power-button {
    margin-bottom: 2pc;
}

.hide {
  opacity: 0!important;
  pointer-events: none!important
}


#on-off {
    background-color: #fff;
}
.rgb{
  transition:opacity 0.25s
}
.warmWhite{
  transition:opacity 0.5s
}
.dimmer{
  transition:opacity 0.75s
}
.effect{
  transition:opacity 1s
}
.schedule{
  transition:opacity 1.5s
}
input{
  border: solid 1px;
}

input[type="range"] { 
    margin: 0;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 262px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}
::-webkit-slider-runnable-track {
    background: #000;
}
/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px; /* 1 */
    height: 40px;
    background: #fff;
/*     border: 2px solid #999; /* 1 */ 
}
#whiteSlider::-webkit-slider-thumb{
  box-shadow: -100vw 0 0 100vw gold;
}
#redSlider::-webkit-slider-thumb{
  box-shadow: -100vw 0 0 100vw red;
}
#greenSlider::-webkit-slider-thumb{
  box-shadow: -100vw 0 0 100vw green;
}
#blueSlider::-webkit-slider-thumb{
  box-shadow: -100vw 0 0 100vw blue;
}
#dimmer::-webkit-slider-thumb{
  box-shadow: -100vw 0 0 100vw white;
}
#whiteSlider{
  border-color:gold;
}
#redSlider{
  border-color:red;
  border-bottom: none;
}
#greenSlider{
  border-color:green;
  border-top: none;
  border-bottom: none;
}
#blueSlider{
  border-color:blue;
  border-top: none;
}
#dimmerSlider{
  border-color:white;
}


select {
  -webkit-appearance: none;
  border-radius: 0;
  padding: 10px;
  font-size: 18px;
  border: 1px solid;
  color: white;
  background: #000;
  text-transform: capitalize;
  width:262px;
}
.schedule div span{
  text-transform: capitalize;
}
container{
    display:block;
    margin-top: calc(56px + 3vw);
}


